* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    ul {
        margin-top: 20px;
        li {
            list-style-type: none;
            font-size: 14px;
            display: inline;
            margin: 10px;
            a {
                text-decoration: none;
                color: #2a2a2a;
            }
            a:hover {
                color: #6C63FF;
            }
        }
    }
}
header {
    display: flex;
    flex-direction: column;
    h1 {
        color: #2a2a2a;
        margin-top: 7.5vh;
        margin-left: 7vw;
        font-size: 40px;
        font-weight: 700;
    }
    h2 {
        font-size: 40px;
        color: #6C63FF;
        margin-left: 7vw;
        margin-top: 1vh;
        font-weight: 700;
    }
    p {
        width: 80%;
        margin-left: 7vw;
        margin-top: 2vh;
        font-size:  16px;
        font-weight: 300;
        line-height: 28px;
    }
    .btn {
        display: flex;
        flex-direction: row;
        margin-left: 7vw;
        margin-top: 4vh;
    }
    #buttonOne {
        color: #6C63FF;
        border: 2px solid #6C63FF;
        background: transparent;
        padding: 8px 16px;
    }
    #buttonOne:hover {
        background: #6C63FF;
        color: white;
    }
    #buttonTwo {
        color: #2a2a2a;
        background: transparent;
        border: none;
        margin-left: 10vw;
    }
    img {
        display: flex;
        max-width: 80%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 10vh auto;
    }
    .active {
        color: #6C63FF;
    }
}

@media (min-width: 400px) {
    nav {
        ul {
            li {
                font-size: 17px;
            }
        }
    }
}
@media (min-width: 728px) {
    nav {
        justify-content: flex-start;
        margin-left: 3vw;
        ul {
            li {
                margin-left: 30px;
                font-size: 20px;
            }
        }
    }
    header {
        h1 {
            font-size: 50px;
            margin-left: 4vw;
            margin-top: 15vh;
        }
        h2 {
            font-size: 50px;
            margin-left: 4vw;
        }
        p {
            width: 50%;
            margin-left: 4vw;
        }
        .btn {
            margin-left: 4vw;
        }
        #buttonTwo {
            margin-left: 50px;
            margin-left: 4vw;
        }
        img {
            max-width: 320px;
            height: auto;
            position: absolute;
            margin-left: 26rem;
            margin-top: 5rem;
        }
    }
}